@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu','sans-serif';
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    color:rgb(70, 69, 69);
}
.navbar .menu li a{
    color:black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover{
    color:rgb(170, 166, 166);
}

.navbar .logo a{
 color:black;
 font-size: 35px;
 font-weight: 600;
}
.navbar .logo a span{
    color:rgb(97, 97, 97);
 }

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* home section styling */

.home{
   display: flex;
   background:url("images/image7.webp");
   height: 100vh;
   color:black;
   width: 100%;
   font-family: 'Ubuntu','sans-serif';
}
.home .max-width{
    margin: auto 0 auto 40px;
}
img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
   padding-left: 500px;
   padding-top: 150px; 
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content a{
    display: inline-block;
    background: rgb(97, 97, 97);
    color: black;
    font-size: 22px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(97, 97, 97);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(130, 128, 128);
    background: none;
}


.home .home-content .text-3 span{
    color:rgb(97, 97, 97);
    font-weight: 600;
}

/* about section */
section{
    padding: 60px 0;
}

.about{
    font-family:'Poppins',sans-serif ;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu','sans-serif';  
}
.about .title::before{
    content: "";
    position: absolute;
    width:180px;
    height: 3px;
    background: black;
}

 .about .about-content .left img{
    height: 540px;
    width: 80%;
    object-fit: cover;

} 